.login-page{
    background-image: url('../../assets/undraw_working_late_pukg.svg');
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size:800px 400px;
    background-position:center left;
    
}
